<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/imgs/images.png" type="image/x-icon">
    <meta name="discription" content="This is a website made by Nhân Nguyễn.">
    <!-- google -->
    <meta itemprop="name" content="We world">
    <meta itemprop="discription" content="This is a website made by Nhân Nguyễn.">
    <meta itemprop="image" content="/assets/imgs/images.png">
    <!-- fb -->
    <meta property="og:type" content="Website">
    <meta property="og:title" content="We world">
    <meta property="og:discription" content="This is a website made by Nhân Nguyễn.">
    <meta property="og:image" content="/assets/imgs/images.png">
    <title>we world</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        
        body {
            height: 100vh;
            width: 100vw;
            font-family: sans-serif;
            overflow: hidden;
        }
        
        .scene, canvas {
            position: absolute;
            height: 100%;
            width: 100%;
        }
        #mobileInterface {
            position: absolute;
            width: 100%;
            height: 120px;

            
            z-index: 11;
            top: calc(100% - 120px);
            left: 0;
            
        }
        #joyWrapper {
            
            touch-action: manipulation;
            pointer-events: none;
        }
        #joystickWrapper1 {
            pointer-events: auto;
            display: block;
            position: absolute;
            left: calc(50% - 60px);
            background-color: transparent;
           
            transform: translateY(-50%);

            z-index: 12;
            touch-action: manipulation;
        }
        #buttonWrapper {
            height: 75px;
            width: 100px;
            position: absolute;
            top: 50%;
            left: calc(50% + 70px);
            transform: translateY(-50%);
        }
        
        #lookDir {
            height: 100%;
            width: 50%;
            top: 0;
            left: 0;
            position: absolute;
        }
        #up {
            height: 50%;
            width: 100%;
            top: 0;
            left: 0;
            position: absolute;
            clip-path: polygon(51% 20%, 20% 75%, 80% 75%);
            background-color: black;
        }
        #down {
            height: 50%;
            width: 100%;
            bottom: 0;
            left: 0;
            position: absolute;
            clip-path: polygon(50% 75%, 20% 25%, 79% 25%);
            background-color: black;
        }
        #JumpB {
            height: 100%;
            width: 50%;
            top: 0;
            left: 50%;
            position: absolute;
            text-align: center;
            padding-top: 20px;
            font-weight: 500;
            font-size: 24px;
            background: #dbdbdb;
            clip-path: polygon(20% 10%, 80% 10%, 100% 20%, 100% 80%, 80% 90%, 20% 90%, 0% 80%, 0 20%);

        }
        .noSelect {
            user-select: none;
        }
    </style>
</head>
<body>
    <canvas id="scene"></canvas>
    <div id="mobileInterface" class="noSelect">
        <div id="joyWrapper">
            <div id="joystickWrapper1"></div>
        </div>
        <div id="buttonWrapper">
            <div id="lookDir">
                <div id="up"></div>
                <div id="down"></div>
            </div>
            <div id="JumpB">J</div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/opentype.js@latest/dist/opentype.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/nipplejs/0.9.0/nipplejs.js"></script>

    <script src="/assets/js/three.min.js"></script>
    <script src="/assets/js/TTFLoader.js"></script>
    <script src="/assets/js/OrbitControl.js"></script>
    <script src="/assets/js/GeometryUtils.js"></script>
    <script src="/assets/js/GLTFLoader.js"></script>
    <script src="/assets/js/Capsule.js"></script>
    <script src="/assets/js/Octree.js"></script>
    <script src="/src/player.js"></script>
    <script src="/src/imgManager.js"></script>
    <script src="/src/classes/physicObject.js"></script>
    <script src="/src/classes/animatorManage.js"></script>
    <script src="/src/cityManager.js"></script>
    <script src="/src/classes/joystick.js"></script>
    <script src="/src/world.js"></script>
    <script src="/src/index.js"></script>
    <script>
        let imgs = '<%-locals.userDoc%>'
        let deviceRegexp = /android|iphone|kindle|ipad/i;
        let isMobileDevice = deviceRegexp.test(navigator.userAgent);
        new App({imgs}).init({isMobile: isMobileDevice})
    </script>
</body>
</html>